h1{color: fuchsia;
    background-color:aqua;
    text-align: center;
}
h2{
    color:blue;
    background-color: chartreuse;
    text-align: center;
}
table{
    background-color: darksalmon;
}
body{
    background-image: url(../images/back07.jpg);
    background-attachment: fixed;
}